@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

@theme {
  --color-background-60: #1d1d1c;
  --color-background-30: #2e2c73;
  --color-background-10: #312e8c;
  --color-text: #f2f1df;
}
